.container{
    background-image: url('../images/christmasTree.png');
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    
    align-items: center;
    
}

.item1{
    position: absolute;
    top: 20%;
    right:50%;
    transform: translateX(+51%);
    width: 50%;
    height: 50%;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}



.item2{
    position: absolute;
    top: 38%;
    left:50%;
    transform: translateX(-120%);
}

.item3{
    position: absolute;
    top: 38%;
    right:50%;
    transform: translateX(+125%);
}

.item4{
    position: absolute;
    top: 58%;
    left:50%;
    transform: translateX(-190%);
}

.item5{
    position: absolute;
    top: 58%;
    right:50%;
    transform: translateX(+53%);
}

.item6{
    position: absolute;
    top: 58%;
    left:50%;
    transform: translateX(+100%);
}

.contact-form{
    text-align: center;
}


  

