
h2{
    text-align: center;
}

img{
    margin: auto;
    display: block;
    width: 20%;
    height: auto;
}

.button1{
    margin: auto;
    display: block;
    width: 10%;
    height: auto;
    text-align: center;
}

.button2{
    margin: auto;
    display: block;
    width: 10%;
    height: auto;
    text-align: center;
}

form{
    text-align: center;
}